<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">NOBORDERS</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li id="homeMenu" class="menu"><a href=@Url.Action("Index", "Home")> <b>FLIGHT</b>  </a></li>
                    <li id="abtMenu" class="menu"><a href=@Url.Action("Package", "Home")><b>PACKAGES</b></a></li>
                    <li id="conMenu" class="menu"><a href=@Url.Action("Visa", "Home")><b>VISA</b></a></li>    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="NuMenu" class="menu"><a href=@Url.Action("Registration", "Account")> <span class="glyphicon glyphicon-phone-alt"></span> &nbsp; +88-09638-800-600</a></li>
                    <li id="SuMenu" class="menu"><a href=@Url.Action("Registration", "Account")>REGISTER</a></li>
                    <li id="SiMenu" class="menu"><a href=@Url.Action("Login", "Account")>BUSINESS LOGIN</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer style="background-color: lightcyan">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/Images/Website-Banner-002.jpg" style="width: 500px" height="400px" />
                </div>

                <div class="col-md-4">
                    <br />
                    <div class="input-group">
                        <input type="text" placeholder="Please Enter You E-Mail">
                        <button class="btn btn-success">Subscribe</button>
                    </div>
                    <br />
                    <p>
                        <a href="https://www.nobordersbd.com">NO BORDERS BD</a> is a next generation online travel platform for the tech savvy travelers worldwide.
                    </p>

                    <p>
                        <span class="glyphicon glyphicon-earphone"></span> &nbsp; +88-09638-800-600
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-envelope"></span> &nbsp; info@nobordersbd.com
                    </p>

                    <p><b>QUICK LINKS</b></p>

                    <a href=@Url.Action("Index", "Home")>FLIGHT</a> <br />
                    <a href=@Url.Action("About", "Home")>PACKAGE</a> <br />
                    <a href=@Url.Action("Contact", "Home")>VISA</a> <br />

                </div>

                <div class="col-md-4" style="min-height: 70px; border-left: 1px solid black ">
                    <p>
                        Find us on Facebook
                    </p>
                    <p>
                        <b><i>ABOUT US</i></b>
                    </p>

                    <a href="#">WHO ARE WE?</a> <br />
                    <a href="#">WHY US?</a> <br />
                    <a href="#">SERVICES</a> <br />
                    <a href="#">TERMS & CONDITIONS</a> <br /> <br/>

                    <p>
                        <b><i>LEGAL</i></b>
                    </p>

                    <a href="#">Transaction Confirmation</a> <br />
                    <a href="#">Amendment & Cancellation Policy</a> <br />
                    <a href="#">Privacy Policy </a> <br />
                </div>

            </div>


            <div class="row text-center">
                <div class="col-md-4">
                    <p> Developed By <a href="https://www.linkedin.com/in/samiul-siam-aa413a185/">SAS</a> & <a href="https://www.linkedin.com/in/ali-ahmed-akib-63bb91134/">AAA</a></p>
                </div>

                <div class="col-md-4">
                    <p>&copy; @DateTime.Now.Year - <a href="https://www.nobordersbd.com">NO BORDERS BD</a> All rights reserved.</p>
                </div>
                <div class="col-md-4">
                    Operational Address: Ka-4/1 (2<sup>nd</sup> Floor), Bashundhara Road, Dhaka-1229, Bangladesh.
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
